.function {
 border-bottom: 1px solid #8AC2D5;
}
.function.target {
 font-family: monospace;
 background-color: #B2D0DA;
 border: 1px solid #8AC2D5;
}
.descname {
}
.sig-paren {
}
.property {
}
.docutils {
 padding-left: 35px;
}
.breatheparameterlist {
}
.breatheparameterlist.first {
}
.breatheparameterlist.last {
}
