.breathe-sectiondef.container {
 padding-left: 25px;
}

.function {
 border-bottom: 1px solid #8AC2D5;
}

.member dd {
 padding-left: 15px;
}

.descname {
}
.sig-paren {
}
.property {
}
.docutils {
 padding-left: 35px;
}





.breatheparameterlist {
}
.breatheparameterlist.first {
}
.breatheparameterlist.last {
}
